.custom-div-icon {
	background: transparent !important;
	border: none !important;
}

.custom-div-icon svg {
	width: 100% !important;
	height: 100% !important;
}

:root {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

body {
	margin: 0;
	display: flex;
}
